<div class="container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" matRipple id="profile-tab" data-toggle="tab" href="#tickets" role="tab" aria-controls="tickets" aria-selected="true"><strong>Tickets</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" matRipple id="home-tab" data-toggle="tab" href="#historial" role="tab" aria-controls="historial" aria-selected="false"><strong>Historial</strong></a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tickets" role="tabpanel" aria-labelledby="profile-tab">
      <div>
      </div>
      <table class="table table-borderless text-center">
        <thead class="thead-dark">
          <th>ID Ticket</th>
          <th>Usuario</th>
          <th>Tipo</th>
          <th>Estatus</th>
          <th>Autorizacion Requerida</th>
          <th>Aprobada</th>
          <th>Fecha</th>
          <th>Hora</th>
        </thead>
        <tbody>
          <tr *ngFor="let ti of tickets" matRipple matTooltip="Click para ver mas detalles del ticket con Id {{ti.id}}" (click)="detalles(ti.id,ti.usuario,ti.descripcion,ti.fecha,ti.observacion)">
            <td>{{ti.id}}</td>
            <td>{{ti.usuario}}</td>
            <td>{{ti.tipo}}</td>
            <td>
              <h5 *ngIf="ti.estatus=='observacion'"><span class="badge badge-info">
                  {{ti.estatus}}
                </span></h5>
              <h5 *ngIf="ti.estatus=='pendiente'"><span class="badge badge-warning">
                  {{ti.estatus}}
                </span></h5>
              <h5 *ngIf="ti.estatus=='rechazado'"><span class="badge badge-danger">
                  {{ti.estatus}}
                </span></h5>
            </td>
            <td (click)="detalles(ti.id,ti.usuario,ti.descripcion,ti.fecha,ti.observacion)">
              <h5 *ngIf="ti.req_autorizacion=='Si'"><span class="badge badge-warning">{{ti.req_autorizacion}}</span></h5>
              <h5 *ngIf="ti.req_autorizacion=='No'"><span class="badge badge-success">{{ti.req_autorizacion}}</span></h5>
            </td>
            <td (click)="detalles(ti.id,ti.usuario,ti.descripcion,ti.fecha,ti.observacion)">
              <h5 *ngIf="ti.aprobado=='Si'"><span class="badge badge-success">{{ti.aprobado}}</span></h5>
              <h5 *ngIf="ti.aprobado=='No'"><span class="badge badge-danger">{{ti.aprobado}}</span></h5>
            </td>
            <td>{{ti.fecha | date: 'dd/MM/yyyy'}}</td>
            <td>{{ti.hora}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="historial" role="tabpanel" aria-labelledby="home-tab">
      <div id="cont-find" class="container">
        <div class="form-row">
          <div class="col">
            <mat-form-field>
              <mat-label><strong>Fecha Inicio</strong></mat-label>
              <input matInput [matDatepicker]="picker1" [(ngModel)]="fechain" name="fechain">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field>
              <mat-label><strong>Fecha Final</strong></mat-label>
              <input matInput [matDatepicker]="picker" [(ngModel)]="fechafi" name="fechafi">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field>
              <mat-label><strong>Cliente</strong></mat-label>
              <mat-select (change)="selectChangeHandler($event)">
                <mat-option value=""></mat-option>
                <mat-option *ngFor="let cl of clientes" value="{{cl.id}}">{{cl.nombre}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col">
            <span>
              <br>
              <button (click)="buscartickets()" color="primary" mat-raised-button><i class="material-icons">search</i>
                <strong>Buscar</strong>
              </button>
            </span>
          </div>
        </div>
      </div>
      <table id="busqueda" class="table">
        <tbody>
          <tr>
            <div class="col">
              <span>
                <mat-label><strong>Cantidad: </strong>{{cantidad}}</mat-label>
              </span>
            </div>
          </tr>
          <tr *ngFor="let bs of busqueda" matRipple matTooltip="Click para ver mas detalles del ticket con Id {{bs.id}} " (click)="historialticket(bs.descripcion,bs.estatus);">
            <td><strong>Ticket id: </strong>{{bs.id}}</td>
            <td>{{bs.usuario}}</td>
            <td>{{bs.fecha | date: 'dd/MM/yyyy'}}</td>
            <td>{{bs.hora}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
