/*Texto del navbar*/
.user-text {
  color: white;
  font-size: 18px;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.toolbar {
  -webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.75);
}

.back-login {
  background-image: url('./img/background-login.jpg');
  width: 100%;
  height: 100%;
}

.footer {
  font-size: 13px;
  width: 100%;
  height: 100px;
  position: relative;
  bottom: 0px;
}
.logo-footer{
  height: 50px;
}
