<div class="container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" matRipple>
      <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#historial" role="tab" aria-controls="historial" aria-selected="true">
        <strong>Pendientes</strong>
      </a>
    </li>
    <li class="nav-item" matRipple>
      <a class="nav-link" id="home-tab" data-toggle="tab" href="#generar" role="tab" aria-controls="generar" aria-selected="false">
        <strong>Generar Ticket</strong>
      </a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="historial" role="tabpanel" aria-labelledby="profile-tab">
      <h3>Tickets Pendientes</h3>
      <table class="table table-borderless">
        <thead class="thead-dark text-center">
          <th>ID Ticket</th>
          <th>Estatus</th>
          <th>Autorizacion Requerida</th>
          <th>Aprobada</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th width="15%"></th>
        </thead>
        <tbody *ngFor="let ti of pendientes">
          <tr>
            <td class="text-center" matTooltip="Click para ver detalles del ticket con id {{ti.id}}">{{ti.id}}</td>
            <td class="text-center" matTooltip="Click para ver detalles del ticket con id {{ti.id}}" *ngIf="ti.estatus=='observacion'" (click)="detalles(ti.id,ti.usuario,ti.descripcion,ti.fecha,ti.observacion)">
              <h5><span class="badge badge-warning">{{ti.estatus}}</span></h5>
            </td>
            <td class="text-center" matTooltip="Click para ver detalles del ticket con id {{ti.id}}" *ngIf="ti.estatus=='rechazado'" (click)="detalles(ti.id,ti.usuario,ti.descripcion,ti.fecha,ti.observacion)">
              <h5><span class="badge badge-danger">{{ti.estatus}}</span></h5>
            </td>
            <td class="text-center" matTooltip="Click para ver detalles del ticket con id {{ti.id}}" *ngIf="ti.estatus=='pendiente'" (click)="detalles(ti.id,ti.usuario,ti.descripcion,ti.fecha,ti.observacion)">
              <h5><span class="badge badge-info">{{ti.estatus}}</span></h5>
            </td>
            <td class="text-center" matTooltip="Click para ver detalles del ticket con id {{ti.id}}" *ngIf="ti.req_autorizacion=='Si'" (click)="detalles(ti.id,ti.usuario,ti.descripcion,ti.fecha,ti.observacion)">
              <h5><span class="badge badge-danger ">{{ti.req_autorizacion}}</span></h5>
            </td>
            <td class="text-center" matTooltip="Click para ver detalles del ticket con id {{ti.id}}" *ngIf="ti.req_autorizacion=='No'" (click)="detalles(ti.id,ti.usuario,ti.descripcion,ti.fecha,ti.observacion)">
              <h5><span class="badge badge-success">{{ti.req_autorizacion}}</span></h5>
            </td>
            <td class="text-center" matTooltip="Click para ver detalles del ticket con id {{ti.id}}" (click)="detalles(ti.id,ti.usuario,ti.descripcion,ti.fecha,ti.observacion)">
              <h5><span class="badge badge-success" *ngIf="ti.aprobado=='Si'">{{ti.aprobado}}</span></h5>
              <h5><span class="badge badge-warning" *ngIf="ti.aprobado=='No'">{{ti.aprobado}}</span></h5>
            </td>
            <td class="text-center" matTooltip="Click para ver detalles del ticket con id {{ti.id}}" (click)="detalles(ti.id,ti.usuario,ti.descripcion,ti.fecha,ti.observacion)">
              {{ti.fecha | date: 'dd/MM/yyyy'}}
            </td>
            <td class="text-center" matTooltip="Click para ver detalles del ticket con id {{ti.id}}" (click)="detalles(ti.id,ti.usuario,ti.descripcion,ti.fecha,ti.observacion)">
              {{ti.hora}}
            </td>
            <td class="text-center">
              <button mat-icon-button color="primary" matTooltip="Adjuntar Archivos" data-toggle="modal" (click)="openModal(ti.id)">
                <i class="material-icons">attach_file</i>
              </button>
            </td>
            <!-- Modal -->
            <div class="modal fade" id="ModalFile_{{ti.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content" style="width:140%;">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Adjuntar Archivos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-4">
                        <div ng2FileDrop [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}" (fileOver)="fileOverAnother($event)" [uploader]="uploader" class="well my-drop-zone">
                          <p class="filezone">Arrastre sus archivos aquí</p>
                        </div>
                      </div>
                      <div class="col-md-8 text-center" style="margin-bottom: 40px">
                        <h4>Archivos seleccionados</h4>
                        <table class="table">
                          <thead>
                            <tr>
                              <th width="50%">Nombre</th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of uploader.queue">
                              <td>
                                <mat-label>
                                  {{ item?.file?.name }}
                                </mat-label>
                              </td>
                              <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                              <td *ngIf="uploader.isHTML5">
                                <div class="progress" style="margin-bottom: 0;">
                                  <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                </div>
                              </td>
                              <td class="text-center">
                                <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                              </td>
                              <td nowrap>
                                <button mat-icon-button color="warn" matTooltip="Remover" (click)="item.remove()">
                                  <i class="material-icons">delete</i>
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <div>
                          <div>
                            <mat-label>Progreso:</mat-label>
                            <div class="cont-progress">
                              <mat-progress-bar mode="determinate" value="{{uploader.progress}}"></mat-progress-bar>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button mat-raised-button color="warn" (click)="uploader.clearQueue()" data-dismiss="modal">
                      <i class="material-icons">unarchive</i><strong> Cancelar</strong>
                    </button>
                    <button mat-raised-button color="primary" (click)="cargarArchivos(ti.id)">
                      <i class="material-icons">archive</i><strong> Guardar Archivos</strong>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="generar" role="tabpanel" aria-labelledby="home-tab">
      <h3>Generar Ticket</h3>
      <form>
        <div class="row">
          <div class="form-group col-md-6">
            <mat-form-field class="full-width">
              <mat-label><strong>Categoria</strong></mat-label>
              <mat-select [(ngModel)]="tipo" name="tipo">
                <mat-option value="Sistemas">Sistemas</mat-option>
                <mat-option value="Diseño">Diseño</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group col-md-6">
            <mat-form-field class="full-width">
              <mat-label><strong>Autorizacion</strong></mat-label>
              <mat-select [(ngModel)]="autorizacion" name="autorizacion">
                <mat-option value="No">No</mat-option>
                <mat-option Value="Si">Si</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <mat-form-field class="full-width">
          <mat-label><strong>Describe el problema y proporciona los datos necesarios en esta sección</strong></mat-label>
          <textarea matInput [(ngModel)]="descripcion" name="name" rows="8" cols="80" name="descripcion"></textarea>
        </mat-form-field>

        <!--ng2File -->
        <div class="row">
          <div class="col-md-3">
            <h4>Subir archivos</h4>
            <div ng2FileDrop [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}" (fileOver)="fileOverAnother($event)" [uploader]="uploader" class="well my-drop-zone">
              <p class="filezone">Arrastre sus archivos aquí</p>
            </div>
          </div>
          <div class="col-md-9" style="margin-bottom: 40px">
            <h3>Archivos seleccionados</h3>
            <p>Cantidad: {{ uploader?.queue?.length }}</p>
            <table class="table">
              <thead>
                <tr>
                  <th width="50%">Nombre</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of uploader.queue">
                  <td><strong>{{ item?.file?.name }}</strong></td>
                  <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                  <td *ngIf="uploader.isHTML5">
                    <div class="progress" style="margin-bottom: 0;">
                      <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                    </div>
                  </td>
                  <td class="text-center">
                    <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                    <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                    <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                  </td>
                  <td nowrap>
                    <button mat-icon-button color="warn" matTooltip="Remover" (click)="item.remove()">
                      <i class="material-icons">delete</i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div>
              <div>
                <mat-label>Progreso:</mat-label>
                <div class="cont-progress">
                  <mat-progress-bar mode="determinate" value="{{uploader.progress}}"></mat-progress-bar>
                </div>
              </div>
              <button class="btnRem" mat-raised-button color="warn" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                <i class="material-icons">unarchive</i><strong> Cancelar</strong>
              </button>
            </div>

          </div>
        </div>
        <div class="col">
          <button mat-raised-button color="primary" (click)="generar()" type="button" name="button">
            <i class="material-icons">send</i><strong> Enviar</strong>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
